{{ define "main" }}

<!-- banner -->
{{ with .Params.banner }}
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h1 class="mb-3">{{ .title | markdownify }}</h1>
        <p class="mb-4">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <div><a href="{{ .link | safeURL }}" title="{{ .label }}" class="btn btn-primary">{{ .label }}</a></div>
        {{ end }}
        {{ end }}

        {{with .image}}<img src="{{ . | relURL }}" alt="" class="img-fluid mt-5" width="750px">{{end}}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /banner -->

{{ partial "problem.html" . }}
{{ partial "intro.html" . }}
{{ partial "about.html" . }}
{{ partial "services.html" . }}

<!-- screenshot -->
{{ with .Params.screenshot }}
{{ if .enable }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
    </div>
  </div>
  {{ with .image }} <img src="{{ . | relURL }}" alt="" class="img-fluid w-100">{{ end }}
</section>
{{ end }}
{{ end }}
<!-- /screenshot -->
{{ partial "cta.html" . }}

{{ end }}
