// Color Variables
{{ with site.Params.variables }}
$color-primary: {{.color_primary | default "#0AA8A7"}};
$text-color: {{.text_color | default "#777"}};
$text-dark: {{.text_dark | default "#222"}};
$text-light: {{.text_light | default "#999"}};
$body-bg: {{.body_color | default "#fff"}};
$border-color: {{.border_color | default "#ECECEC"}};
$dark-body-bg: {{.dark_body_color | default "#1e262c"}};
$dark-text-color: {{.dark_text_color | default "#cbcbcb"}};
$dark-text-dark: {{.dark_text_dark | default "#999"}};
$dark-text-light: {{.dark_text_light | default "#ddd"}};
$dark-border-color: {{.dark_border_color | default "#ECECEC"}};
$black: {{.black | default "#000"}};
$white: {{.white | default "#fff"}};
$light: {{.light | default "#EDF6F5"}};
$dark: {{.dark | default "#1b2229"}};


// Font Variables
$font-size: {{.font_size | default "16px"}};
$font-scale: {{.font_scale | default "1.25"}};
$font-primary: '{{replace (replaceRE ":[ital,]*[ital@]*[wght@]*[0-9,;.]+" "" .font_primary | default "Lato") "+" " "}}', {{.font_primary_type | default "sans-serif"}};
$font-icon: '{{.font_icon | default "Font Awesome 6 Free"}}';
{{ end }}

@import 'templates/bootstrap';
@import 'mixins';
@import 'buttons';
@import 'typography';
@import 'common';
@import 'common-dark';
@import 'templates/navigation';
@import 'templates/main';
@import 'notice';
@import 'tab';
@import 'images';
// @import 'gallery-slider';
@import 'toc';
@import 'custom';
@import 'preloader';

/*=================================================================
  About us section
==================================================================*/
.about .block {
  padding: 30px;
  border-bottom: 2px solid transparent;
  transition: .5s all;
  margin-bottom: 20px;

  /* box shadow */
  border-left: 1px solid rgba(236, 239, 241, 0.07);
  border-top: 1px solid rgba(236, 239, 241, 0.07);
  margin-bottom: 40px;
  box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3), 13px 13px 0 rgba(255, 255, 255, 0.7);
}

.about .block:hover {
  border-bottom: 2px solid #57cbcc;
}

.about .block:hover .icon-box {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.about .block .icon-box {
  position: relative;
  width: 160px;
  height: 92.38px;
  /*background-color: transparent;*/
  margin: 46.19px auto 60px;
  padding: 20px 0;
  border-left: 2px solid rgba(236, 239, 241, 0.07);
  border-right: 2px solid rgba(236, 239, 241, 0.07);
  font-size: 50px;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.about .block .icon-box:after,
.about .block .icon-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 113.14px;
  height: 113.14px;
  /*background-color: inherit;*/
  left: 20.4315px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
}

.about .block .icon-box:before {
  top: -56.5685px;
  border-top: 2px solid rgba(236, 239, 241, 0.07);
  border-right: 2px solid rgba(236, 239, 241, 0.07);
}

.about .block .icon-box:after {
  bottom: -56.5685px;
  border-bottom: 2px solid rgba(236, 239, 241, 0.07);
  border-left: 2px solid rgba(236, 239, 241, 0.07);
}

.about .block .icon-box h3 {
  color: $text-color;
}


/*=================================================================
  Services section
==================================================================*/
.service-block {
  padding: 60px 20px;
  border-left: 1px solid rgba(236, 239, 241, 0.07);
  border-top: 1px solid rgba(236, 239, 241, 0.07);
  margin-bottom: 40px;
  box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3), 13px 13px 0 rgba(255, 255, 255, 0.7);
}

.service-block .service-icon {
  margin-bottom: 10px;
  font-size: 50px;
}
