<!-- approach -->
{{ with .Params.approach }}
{{ if .enable }}
<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .item }}
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="feature-card text-center">
          <i class="{{.icon}} mb-3"></i>
          <h4 class="mb-2">{{ .title | title }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /feature -->
